html,
body {
    height: 100%;
    margin: 0;
}

h1 {
    margin-bottom: 30px;
}

/* Flexbox layout for the entire page */
.d-flex-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Push the footer to the bottom */
main {
    flex: 1;
}